@charset "UTF-8";
/* CSS Document */
.container{
	width:90%;
	height:90%;
	padding:20px;
	background-color:#FFFFFF;
	opacity:.90;
	 margin: 20px auto;
	
}
/*body2 is for long pages with content */
.body2{
	min-height: 2000px;	
	
}
/* body is for homepage*/
body {
		min-height: 1100px;	
}


.header{
	padding-top:20px	
}
.quicklinks{
	float:right;
	margin-top:0px;
	padding-bottom:10px;
	padding-left:100px;
}
.quicklinks ul{
	list-style: none; 
	  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;	
}
.quicklinks ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.quicklinks ul li {
  float: left;
  display: block;
  padding: 20px;
}
/* navbar and ssearch*/
.navbar{
	padding-top: 15px;	
	width:auto;
	
	position: -webkit-sticky;
	top: 45px;
	z-index: 1;
}
.navbarside{
	padding-top: 200px;	
	width:auto;
	position: fixed;
	top: 200px;
	z-index: 2;
}

.navbarside li
{
display:block;
float:none;
}

.sticky{

  position: fixed;
  background: #74805f;
  top:0;
  z-index:99;	
  border-top: 0; 
  width:1000px;

}


.logo{
	margin-left:5px;	
}

@import url(http://fonts.googleapis.com/css?family=Nobile:400,700italic,700,400italic);

.pageheader{
	margin: 25px 20px 25px 10px;	
}
.pagetitle{
 font-family:'Nobile', Verdana, Geneva, sans-serif
}

.content1{
	padding-top: 20px;
	margin-top:5%;
	display:block;
	
		
}
.line{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;

}

	


/* homepage image slider*/
.imageSlider{
    padding-left: 35px;
	padding-right: 35px;
	height:300px;
	width:975px;	
}

/* footer */
footer{
	background-color: #5E90A4;
	display:block;	
    height: 100px;
	text-align: center;
	width: 100%;
	margin: 0;
	position: relative;
	bottom: 0;

}
.footerItems{
	font-size:14px;
	font:Verdana, Geneva, sans-serif;
	color: black;
}
.credits{
	font-size:16px;
	font-weight:800;
		
}
/* seasons and media */
.epList{
	margin-right: 20px;
	padding-bottom:20px;
	padding-right:20px;	
}

/* media*/

.pictures{
	margin-left:20px;	
}
.videos{
	margin-left:20px;	
}
.paragraph{
	margin-right: 50px;	
}